* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
button {
    text-align: center;
    width: 150px;
    height: 50px;
    background-color: lightblue;
}
.active {
    color: red;
    font-size: 25px;
}